@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Noto+Sans+Duployan:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "PT Sans", serif;
    font-weight: 700;
    text-decoration: none;
    color: black;
}

/*scrol bar style*/
::-webkit-scrollbar{
    background: #cecece;
    width: 1%;
}
::-webkit-scrollbar-thumb{
    background: black;
}
.scroll{
    text-align: center;
    position: fixed;
    top: 25em;
    padding-right: 5em;
    margin-left: 45em;
    float: right;
    font-size: 20pt;
    font-family: 'KronaOne';
    color: white;
    background: black;
    z-index: -2;
}
/**/